<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kundu Kuzhi</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@6.5.0"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />

</head>

<body>
    <h1>குண்டு குழி</h1>


    <div id="map_cont">

        <div id="map"></div>
        <input type="hidden" id="lat">
        <input type="hidden" id="lng">

        <button type="button" id="add_btn" onclick="add_event()">Report a pothole</button>
    </div>
    <div id="add-pothole-model" class="modal">
        <div class="modal-content">
            <span id="closeModalBtn" class="close-btn">&times;</span>
            <h2>Add - Pothole Info</h2>

            <!-- Form with three input fields -->
            <form id="modalForm">
                <label class="required" for="p_desc">Pothole Description</label>
                <input type="text" id="p_desc" name="p_desc" required><br><br>

                <label class="required" for="p_location">Pothole Location</label>
                <input type="text" id="p_location" name="p_location" placeholder="Address / Landmark" required><br><br>

                <label for="p_taluk">Taluk</label>
                <input type="text" id="p_taluk" name="p_taluk" disabled required><br><br>
                <label for="p_district">District</label>
                <input type="text" id="p_district" name="p_district" disabled required><br><br>

                <button type="submit" id="submit_btn">Submit</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/app.js') }}"></script>

</body>

</html>